{% extends 'base.html' %}
{% block title %} FAQs {% endblock title %}
{% block body %}

<p> <b>1. What is Bank Database Management System?</b></p>
<p> It is the new face to Direct Internet Banking. It is the latest internet banking platform which offers a more secure, reliable and efficient digital banking service that caters to both Retail and Business customers alike.</p>
<p> <b>2. I don't have an Account in Any Bank. Can I use this Online System?</b></p>
<p> If you have a National ID card you are eligible to sign up for account here. </p>
<p> <b>3. How can I Sign Up?</b></p>
<p> Go to Login page, then click on Sign up. Put in all the details and you are good to go.</p>
<p> <b>4. Is there a Mobile version of this site, Any app?</b></p>
<p> Currently, we don't have any mobile app available. </p>
<p> <b>5. Can I sign up for Multiple accounts?</b></p>
<p> No you Can't sign up for multiple accounts. One CNIC card Number can be used only once.</p>
{% endblock body%}