{% extends 'user_account.html' %}
{% block title %} Mobile Recharge {% endblock title %}
{% block body %}
<table width=70% height=60%>
<div id="edit_details" style="float:right;">
    <button type="button" id="edit_button"><a href="{% url 'clients:dashboard' %}">Home</a></button>
</div>
<tr>
    <td></td>

    <td>

        <div id="details_box">
            <form name="Recharge_details" action="recharge" method="POST">
                <table id="details_table" cellpadding=5px;>
                    {% if accounts %}
                    {% csrf_token %}
                    <tr>
                        <td>Amount you want to Recharge :</td>
                        <td><input type="text" name="amount" placeholder="Amount"></td>
                    </tr>
                    <tr>
                        <td>Mobile Number :</td>
                        <td><input type="number" name="number" placeholder="Phone Number"></td>
                    </tr>
                    <tr>
                        <td>Recharge from Bank Account Number  :  {{ accounts.Accno }}</td>
                    </tr>

                    <tr>
                        <td></td>
                        <!--<td><input type="button" value="Withdraw"></td>-->
                        <td><button>Recharge</button></td>
                    </tr>
                    {% else %}
                        <tr> <td> New Customer. No accounts yet. </td></tr>
                    {% endif %}
                    <tr>
                        <td><span>{{msg|safe}}</span></td>
                    </tr>
                    <tr>
                        <td> <small>By Withdrawing money from your account, you agree to the <a href="#">Terms and Conditions</a> of amount transfer</small>. <br></td>
                    </tr>
                </table>
            </form>
            
           
            
        </div>
    </td>
</tr>
</table>
{% endblock body%}
